body{
	font-family: 'open-sans', sans-serif;
	background-color: #E8E8E8;
}
h1{
	font-weight: 300;
	font-style: normal; 
}
.header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	width: 100vw;
	position: fixed;
	background-color: #B9BECF;
	left: 0;
	top: 0;
	box-shadow: 0px 2px 2px #8C8C8C;
}

.header h1{
	padding-left: 7.5vw;
	padding-right: 7.5vw;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	font-size: 1.5em;
}

.search-form{
	display: flex;
	justify-content: flex-start;
	background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    width: 40vw;
    padding: 0;
}
.search-bar{
 background-clip: padding-box;
 border: solid transparent;
	width: 80%;
	display: flex;
	font-size: 2em;
	background-color: #B9BECF;
	height: 90%;
	margin: 0;
	margin-top: 5%
	padding: 0;
	border: 0;
}
.card-container{
	display: flex;
	flex-flow: row wrap;
	width: 90vw;
}

.card{
	background-color: #FFFFFF;
	display: flex;
	flex-flow: column;
}